name: Deploy Preview Frontend

on:
  workflow_call:
    inputs:
      pr-number:
        required: true
        type: number
      api-url:
        required: true
        type: string
    outputs:
      frontend-url:
        value: ${{ jobs.deploy.outputs.frontend-url }}

env:
  WORKER_NAME: "pr-${{ inputs.pr-number }}-dt65-events-frontend"

jobs:
  deploy:
    runs-on: ubuntu-22.04
    environment: development
    outputs:
      frontend-url: https://${{ env.WORKER_NAME }}.dt65.workers.dev
    
    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --ignore-scripts --frozen-lockfile
      
      - name: Configure Wrangler
        run: |
          sed -i "s|{{VAR_WORKER_NAME}}|${{ env.WORKER_NAME }}|g" apps/frontend/wrangler.jsonc
          sed -i "s|{{VAR_API_HOST}}|${{ inputs.api-url }}|g" apps/frontend/wrangler.jsonc
      
      - name: Build Frontend
        working-directory: apps/frontend
        run: pnpm run build
      - name: Deploy Frontend
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          environment: pull-request
          workingDirectory: apps/frontend
          secrets: |
            API_KEY
            COOKIE_SESSION_SECRET
        env:
          API_KEY: ${{ secrets.DT65_API_KEY }}
          COOKIE_SESSION_SECRET: ${{ secrets.FRONTEND_COOKIE_SESSION_SECRET }}