name: Pull Request

on:
  pull_request:
    branches: [ "staging" ]

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  deploy-backend:
    uses: ./.github/workflows/pr-deploy-backend.yaml
    with:
      pr-number: ${{ github.event.pull_request.number }}
    secrets: inherit
  deploy-frontend:
    name: Deploy Preview Frontend
    needs: deploy-backend
    uses: ./.github/workflows/pr-deploy-frontend.yaml
    with:
      api-url: ${{ needs.deploy-backend.outputs.backend-url }}
      pr-number: ${{ github.event.pull_request.number }}
    secrets: inherit
  quality-checks:
    uses: ./.github/workflows/quality-checks.yaml
    with:
      cloudflare-environment: pull-request
    secrets: inherit