name: Quality Checks

on:
  workflow_call:
     inputs:
      cloudflare-environment:
        required: true
        type: string

env:
  CLOUDFLARE_ENV: ${{ inputs.cloudflare-environment }}
jobs:
  checks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-project
      - name: Generate Backend types
        working-directory: apps/backend
        env:
          CLOUDFLARE_ENV: ${{ inputs.cloudflare-environment }}
        run: |
          TEMP="temp-for-typegen"
          sed -i "s/{{VAR_WORKER_NAME}}/$TEMP/g" wrangler.jsonc
          sed -i "s/{{VAR_DATABASE_NAME}}/$TEMP/g" wrangler.jsonc
          sed -i "s/{{VAR_DATABASE_ID}}/$TEMP/g" wrangler.jsonc

          cat > .env.${{ inputs.cloudflare-environment }} << EOF
          AUTH_CLIENT_SECRET=placeholder-secret
          REGISTER_SECRET=placeholder-secret
          API_KEY=placeholder-secret
          EOF
          echo "Created .env.${{ inputs.cloudflare-environment }} with placeholder secrets"
          
          pnpm generate:openapi
          npx wrangler types --env ${{ inputs.cloudflare-environment }}

          rm .env.${{ inputs.cloudflare-environment }}

      - name: Generate Frontend types
        working-directory: apps/frontend
        env:
          CLOUDFLARE_ENV: ${{ inputs.cloudflare-environment }}
        run: |
          TEMP="temp-for-typegen"
          sed -i "s/{{VAR_WORKER_NAME}}/$TEMP/g" wrangler.jsonc
          sed -i "s/{{VAR_API_HOST}}/$TEMP/g" wrangler.jsonc

          cat > .env.${{ inputs.cloudflare-environment }} << EOF
          API_KEY=placeholder-secret
          COOKIE_SESSION_SECRET=placeholder-secret
          EOF
          echo "Created .env.${{ inputs.cloudflare-environment }} with placeholder secrets"
          
          pnpm run generate:react-router-types
          pnpm run generate:api-types:file
          npx wrangler types --env ${{ inputs.cloudflare-environment }}

          rm .env.${{ inputs.cloudflare-environment }}

      - name: Lint
        run: pnpm run ci:lint
      
      - name: Typecheck
        run: pnpm run typecheck

      - name: Version Check
        run: pnpm run sherif

      - name: Dead code check
        run: pnpm run knip --reporter github-actions

      